.tab-cli {
    height: 100%;
}
    .tab-cli p {
        padding: 5px;
        border: 1px dotted silver;
    }
    .tab-cli .window {
        height: calc(100% - 100px); /* - (p, textarea) */

        padding: 5px;

        overflow-y: scroll;
        overflow-x: hidden;

        font-family: monospace;
        color: white;

        background-color: black;

        -webkit-user-select: text;
    }
    .tab-cli textarea {
        -webkit-box-sizing: border-box;

        width: 100%;

        border: none;

        height: 22px;
        line-height: 20px;

        padding-left: 5px;

        background: #000;
        color: #fff;
        resize: none;
    }