
.tab-osd-configuration .leftWrapper {
    float: left;
    width: calc(50% - 20px);
}

.tab-osd-configuration .rightWrapper {
    float: left;
    width: calc(50% - 0px);
    margin: 0 0 10px 20px;
}
