.tab-tilt-arm .save {
	display: block;
	float: right;
	
	height: 28px;
	line-height: 28px;
	
	padding: 0 15px 0 15px;
	
	text-align: center;
	font-weight: bold;
	
	border: 1px solid silver;
	background-color: #ececec;
}
.tab-tilt-arm .save:hover {
	background-color: #dedcdc;
}

.tab-tilt-arm .buttons {
	width: calc(100% - 20px);
	
	position: absolute;
	bottom: 10px;
}

.tab-tilt-arm {
	/*font-size: 20px;*/
}