.tab-tilt-arm .save {
    display: block;
    float: right;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-tilt-arm .save:hover {
    background-color: #dedcdc;
}

.tab-tilt-arm .buttons {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

.tab-tilt-arm .model{
    color:red;
    font-size:24px;
}

.tab-tilt-arm .fields{
    border-collapse: collapse;
    min-width:1000px;
}

.tab-tilt-arm .fields td,th {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    outline: thin solid;
    height:35px;
}

input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

input[type="range"] {
    width: 80%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

select{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    direction: rtl;
}